*.pyc
*.DS_Store
*.m~
.*.swp
scratch.stl
bosscheckcomps.scad
bossput.scad
checksize.scad
checkintersect.scad
partboss.scad
minkowski-bot.scad
minkowski-top.scad
shell.scad
part.scad
subcomps.scad
transform.txt
sift.txt
setup.m
startup.m
rot/
gboxobj/
ctags/
cobj/
gboxtags/
obj/
paper/
video/
MYobj/
MYtags/
otherdata/
jingyi/